.weather-app-wrapper {
    position: relative;
    top: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.weather-app {
    background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    padding: 20px 20px 20px;
    border: 2px solid rgba(100, 45, 147, 0.6);
    border-radius: 8px;
}

h1 {
    color: #642d93;
    font-size: 28px;
    font-weight: 650;
    line-height: 1.5;
    margin-top: 15px;
    margin-left: 7px;
    margin-bottom: 15px;
}

li {
    list-style: none;
}

li:first-letter {
    text-transform: capitalize;
}

li span {
    color: #642d93;
    font-weight: 600;
}

#search-form {
    margin-left: 37px;
}

#submit-button {
    background-color: #642d93;
    color: #fff;
    border: #642d93 solid 1px;
    border-radius: 8px 8px 8px;
    box-shadow: 5px 5px 5px rgba(39, 33, 65, 0.5);
    padding: 6px 15px;
    transition: all 200ms ease-in-out;
}

#submit-button:hover {
    opacity: 0.9;
}

.basic-info {
    padding-left: 9px;
}

.other-info {
    font-size: 13.5px;
}

#icon {
    position: relative;
    top: -20px;
    width: 74px;
}

.temp {
    font-size: 46px;
    color: #642d93;
    font-weight: 600;
    position: relative;
    top: -8px;
}

.units {
    position: relative;
    top: -32px;
    font-size: 15px;
}

#celsius,
#fahrenheit {
    color: #000;
    text-decoration: none;
    cursor: default;
}

#celsius:focus {
    color: #642d93;
    text-decoration: none;
    font-weight: 600;
}

#fahrenheit:focus {
    color: #642d93;
    text-decoration: none;
    font-weight: 600;
}

#description {
    color: #642d93;
}

.forecast {
    text-align: center;
}

.forecast-day, .forecast-max {
    font-weight: 600;
    color: #642d93;
}

#forecast-icon {
    margin-top: 10px;
    margin-bottom: 10px;
}

.forecast-max, .forecast-min {
    font-size: 13px;
}

