.weather-app-wrapper {
    position: relative;
    top: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.weather-app {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    padding: 20px 20px 20px;
    border: 2px solid #642d93;
    border-radius: 8px;
}

h1 {
    color: #642d93;
    font-size: 28px;
    font-weight: 650;
    line-height: 1.5;
    margin-left: 7px;
    margin-bottom: 15px;
}

li {
    list-style: none;
}

li span {
    color: #642d93;
}

.basic-info {
    padding-left: 9px;
}

.other-info {
    font-size: 13px;
}

img {
    position: relative;
    top: -20px;
}

.temp {
    font-size: 46px;
    color: #642d93;
    font-weight: 600;
    position: relative;
    top: -8px;
}

.units {
    position: relative;
    top: -32px;
    font-size: 15px;
}

#celsius,
#fahrenheit {
    color: #000;
    text-decoration: none;
}

#celsius:focus {
    color: #642d93;
    text-decoration: underline;
}

#fahrenheit:focus {
    color: #642d93;
    text-decoration: underline;
}

#description {
    color: #642d93;
}